.app-basic-card {
    box-shadow: -2px -2px 4px rgba(204, 212, 191, 0.35), 2px 2px 4px rgba(204, 212, 191, 0.35);
    border-radius: 4px;
    background: #FFFFFF;

    .card-header {
        .image-wrapper {
            img {
                height: 200px;
                width: 250px;
                max-width: 250px;
            }
        }
    }

    .card-body {
        .title {
            margin-bottom: 5px;
        }
    }

    .card-body, .card-footer {
        padding: 5px 10px;
    }
}