.search-btn {
    background-color: #E7CBA9;
    box-shadow: 2px 4px 4px rgba(118, 80, 78, 0.2);
    border-radius: 4px;
    padding: 5px 10px;
}

.home-container {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
}