<nav class="app-side-nav">
    <ul class="menu">
        <li class="menu-item" routerLink="/aware" [class.active]="isActive('aware')">Aware</li>
        <li class="menu-item" routerLink="/aspire" [class.active]="isActive('aspire')">Aspire</li>
        <li class="menu-item" routerLink="/assess" [class.active]="isActive('assess')">Assess</li>
        <li class="menu-item" routerLink="/able" [class.active]="isActive('able')">Able</li>
        <li class="menu-item" routerLink="/access" [class.active]="isActive('access')">Access</li>
    </ul>
</nav>
