<h1 class="font-bold text-lg">Confirm Order</h1>
<div class="grid grid-cols-12">
    <div class="col-span-6" *ngIf="cartItems.length; else noCartItems">
        <div class="grid grid-cols-12">
            <ng-container *ngFor="let item of cartItems">
                <div class="col-span-full mb-3">
                    <app-basic-horizontal-card [data]="item">
                        <div class="flex justify-between" #cardFooter>
                            <div class="flex flex-col align-end">
                                <p class="mt-2 text-sm font-bold text-slate-500">Price: INR {{ item?.price }}</p>
                            </div>
                        </div>
                    </app-basic-horizontal-card>
                </div>
            </ng-container>
        </div>
        <div class="mt-3 bg-slate-200 p-3" style="border-left: 2px solid #44b744">
            <p class="font-bold text-slate-500">Total Price: <span class="text-green-500">INR 90</span></p>
            <button class="bg-[#E7CBA9] p-2" (click)="onConfirmOrder()">Confirm Order</button>
        </div>
    </div>
</div>

<ng-template #noCartItems>
    <div class="col-span-full">
        <p class="p-10 text-center">No items in the cart</p>
    </div>
</ng-template>