<div class="grid grid-cols-12 h-screen home-container" style="height: 100vh">
    <div class="col-span-3 h-full"></div>
    <div class="col-span-9 p-5 h-full">
        <div class="flex flex-col h-full justify-evenly items-center">
            <h1 class="text-center text-2xl font-bold">
                Ti ACE
                <p class="text-sm font-normal">Your Career Navigator</p>
            </h1>
            <img class="w-3/6" src="/assets/images/archery_illus.jpg" alt="People interview">
            <button class="p-3 get-started-btn font-bold text-slate-700" routerLink="/auth/login">Get started!</button>
        </div>
    </div>
</div>