.search-bar-wrapper {
    box-shadow: -2px -2px 4px rgba(204, 212, 191, 0.35), 2px 2px 4px rgba(204, 212, 191, 0.35);
    border-radius: 4px;
    padding: 10px;
    display: flex;

    .search-box-wrapper {
        flex-grow: 1;
        margin-right: 1rem;
        position: relative;

        .search-box {
            border: 1px solid #CCD4BF;
            border-radius: 25px;
            padding: 5px 40px;
            width: 100%;
        }

        .search-box-icon {
            position: absolute;
            top: 20%;
            height: 60%;
            left: 10px;
        }
    }

    .search-btn {
        background-color: #E7CBA9;
        box-shadow: 2px 4px 4px rgba(118, 80, 78, 0.2);
        border-radius: 4px;
        padding: 5px 10px;
    }
}