.suggestion{
    position: absolute;
    width: 241px;
    height: 19px;
    // left: 126px;
    // top: 224px;
    
    font-family: 'Hind';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    
    color: #40393E;
}
.book{
    padding-left: 3em;
    padding-right: 3em;
}
