<div class="grid grid-cols-12">
    <div class="col-span-full mb-3">
        <app-search-bar></app-search-bar>
    </div>
    <div class="col-span-full">
        <p class="font-bold mt-10 mb-3">Showing suggestions based on your interests</p>
        <div class="grid gap-10 grid-cols-12">
            <ng-container *ngFor="let item of items">
                <div class="col-span-4">
                    <app-basic-card [data]="item">
                        <div class="flex justify-between" #cardFooter>
                            <ng-container [ngSwitch]="item.type">
                                <div *ngSwitchCase="'vlog'">
                                    <img class="inline h-6" src="/assets/images/Vector_1.png" alt="Vlog">
                                </div>
                                <div *ngSwitchCase="'podcast'">
                                    <img class="inline h-6" src="/assets/images/Vector_1.png" alt="Podcast"> 
                                </div>
                                <div *ngSwitchCase="'book'">
                                    <img class="inline h-6" src="/assets/images/Vector_1.png" alt="Book"> 
                                </div>
                                <div *ngSwitchCase="'guidance'">
                                    <img class="inline h-6" src="/assets/images/Vector_1.png" alt="Guidance">
                                </div>
                            </ng-container>
                            <!-- <img class="inline h-6 cursor-pointer" src="/assets/images/add_to_cart.png" alt="Add to cart"> -->
                            <h5 class="readMore">Read More</h5>
                        </div>
                    </app-basic-card>
                </div>
            </ng-container>
        </div>        
    </div>
</div>