<div class="app-basic-card">
    <div class="card-header">
        <div class="image-wrapper">
            <img class="" [src]="data?.imageUrl" alt="">
        </div>
    </div>
    <div class="card-body">
        <div class="title">
            <h4 class="font-bold text-sm">{{data?.title}}</h4>
        </div>
        <div class="description">
            <p class="text-xs">{{data?.description}}</p>
        </div>
    </div>
    <div class="card-footer">
        <ng-content></ng-content>
    </div>
</div>