<header class="app-header">
    <div class="flex justify-between items-center py-2 px-5 h-full">
        <div class="flex items-center h-full">
            <img class="h-full" src="/assets/images/bow_and_arrow.png" alt="Bow and arrow">
            <h2 class="ml-1 font-bold">Ti ACE</h2>
        </div>
        <div class="flex items-center h-full">
            <!-- <fa-icon [icon]="faShoppingCart"></fa-icon>
            <fa-icon [icon]="faUserCircle"></fa-icon> -->
            <div class="flex items-center cart-image-wrapper h-full" [attr.data-count]="cartService.cartItems.length" routerLink="/profile/cart">
                <img class="h-4/6 cursor-pointer" src="/assets/images/cart.png" alt="Cart">
            </div>
            <img class="ml-4 h-4/6" src="/assets/images/profile.png" alt="User Profile">
        </div>
    </div>
</header>
